@font-face {
    font-family: 'Railway Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Railway Regular'), url('orkney-regular.woff') format('woff');
}

body {
    font-family: 'Railway Regular';
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

button {
    font-family: 'Railway Regular';
}



hr {
    opacity: 0.5;
    border-top: 1px solid rgba(20,112,147,1);
}

.last-form-field {
    margin-bottom: 30px;
}

.App {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

a {
    color: rgba(20,112,147,1);
}

.navbar-fixed {
    background: linear-gradient(307deg, rgba(70,171,158,1) 0%, rgba(20,112,147,1) 100%);
    -webkit-box-shadow: 0 6px 6px -6px #999;
    -moz-box-shadow: 0 4px 6px -6px #999;
    box-shadow: 0 6px 6px -4px rgb(135, 135, 135);
}

.landing-left-container {
    text-align: center;
    width: 35%;
    min-height: 100vh;
    display: inline-block;
    background: #f2f2f2;
}

.landing-right-container {
    width: 65%;
    min-height: 100vh;
    float: right;
    background: url(img/landing.png);
    background-size: 100%;
    background-repeat: inherit;
}

#landing-image {
    height: 100vh;
    max-width: 100%;
}

#welcome-text {
    margin-top: 5em;
    margin-bottom: 3em;
    line-height: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

.welcome-user {
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
}


.register-title {
    margin-top: 60px;
}

.link-plaid-button {
    margin-bottom: 20px;
    font-family: "Railway Regular";
}


#register-button {
    width: 180px;
    font-size: 18px;
    height: 54px;
    display: inline-block;
    margin-bottom: 1em;
    
}

#log-in-button {
    width: 180px;
    background: none;
    border: 2px solid rgba(20,112,147,1);
    color: rgba(20,112,147,1);
    font-size: 18px;
    height: 54px;
    display: inline-block;
}

.main-btn {
    width: 185px;
    letter-spacing: 1.5px;
    border-radius: 3px;
    margin-top: 1rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn {
    border-radius: 30px;
    text-transform: capitalize;
    background: linear-gradient(307deg, rgba(70,171,158,1) 0%, rgba(20,112,147,1) 100%);
}

.hey-there-user-dashboard {
    margin-top: 3%;
    margin-bottom: 3%;
}

#dashboard-main-accounts-container {
    margin-bottom: 50px;
}


#log-out-button {
    float: right;
    height: 40px !important;
    width: 110px;
    margin-top: 15px;
    background: white;
    border: 1px solid red;
    color: red;
    padding-top: 2px;
    border-radius: 15px;
}

#log-out-button:hover {
    text-decoration: underline;
}

#dashboard-back-button {
    margin-right: 20px;
    margin-bottom: 15px;
    height: 37px;
    width: 190px;
    border-radius: 12px;
    padding-top: 2px;
    background: white;
    border: 1px solid rgba(20,112,147,1);
    color: rgba(20,112,147,1);
}

#dashboard-back-button:hover {
    text-decoration: underline;
}


@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
}

.categories-container {
    display: inline-block;
    text-align: center;
}

.card{
    width: 240px;
    height: 205px !important;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(70,171,158,1);
    color: black;
    margin-left: 2em;
    box-shadow: 0 0 21px -5px rgba(0, 0, 0, 0.5);
}

.card:hover {
    box-shadow: 0 0 21px -4px rgba(0, 0, 0, 0.8);
}

.card-image {
    margin-top: 0px;
    height: 165px;
    width: 170px;
    margin-left: 13%;
    margin-bottom: 0;
}

.card-content {
    padding-top: 0px !important;
    text-align: left;
}

.card-content h5{
    margin-top: 0px !important;
    text-align: left;
}

.card-image img {
    height: 100%;
    width: 100%;
}


.container {
    width: 100%;
}

.dashboard-nav-header {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1em;
}

#how-help-text {
    margin-bottom: 1em;
    color: rgb(101, 101, 101);
}

#linked-accounts-header {
    margin-top: 1em;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    margin-top: -10px;
    background: linear-gradient(307deg, rgba(70,171,158,1) 0%, rgba(20,112,147,1) 100%);
}

.footer-container {
    height: 50px;
    padding-top: 7px;
    padding-left: 5%;
}



#category-main-container {
    margin-left: 5%;
    margin-right: 5%;
}

#log-out-button-category {
    float: right;
    height: 40px !important;
    width: 110px;
    margin-top: 25px;
    background: white;
    border: 1px solid red;
    color: red;
    padding-top: 2px;
    border-radius: 12px;
}

#log-out-button-category:hover {
    text-decoration: underline;
}

.category-name {
    display: inline-block;
}

.category-description {
    color: rgb(101, 101, 101);
    font-size: 22px;
    margin-bottom: 1em;
}

.no-users-message-container {
    text-align: center;
    margin-top: 10%;
    color: rgb(101, 101, 101);
}

.category-users-container {
    text-align: center;
    height: 80vh;
    overflow: scroll;
    margin-bottom: 3em;
    width: 90%;
    margin-left: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
}

.user-card {
    border: 1px solid rgba(70,171,158,1);
    margin-bottom: 25px;
    border-radius: 10px;
    background: white;
    vertical-align: top;
    padding-bottom: 25px;
    padding-top: 5px;
    width: 100%;
    padding-left: 15px;
    box-shadow: 0 0 21px -5px rgba(0, 0, 0, 0.5);
}

.user-card:hover {
    background: rgb(222, 222, 222);
    box-shadow: 0 0 21px -4px rgba(0, 0, 0, 0.8);
}

.user-card-image {
    display: inline-block;
    vertical-align: top;
    min-width: 30%;
    margin-top: 20px;
}

.user-card-image img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-card-content {
    display: inline-block;
    padding-top: 1%;
    text-align: left;
    min-width: 70%;
    color: black;
}

.user-card-content h5 {
    padding-top: 3px;
}

#cancel-register-button {
    width: 180px;
    background: none;
    border: 2px solid rgba(20,112,147,1);
    color: rgba(20,112,147,1);
    font-size: 18px;
    height: 54px;
    display: inline-block;
    margin-bottom: 3em;
}

.view-user-to-contact {
    color: grey;
    margin-top: 15px;
}

/* Profile */

#dashboard-profile-back-button {
    margin-right: 20px;
    margin-bottom: 15px;
    height: 40px;
    width: 190px;
    border-radius: 12px;
    margin-top: 24px;
    padding-top: 2px;
    background: white;
    border: 1px solid rgba(20,112,147,1);
    color: rgba(20,112,147,1);
}

#dashboard-profile-back-button:hover {
    text-decoration: underline;
}



.profile-container {
    width: 95%;
    margin-top: 3%;
    margin-left: 2.5%;
    border-radius: 15px;
    border: 1px solid rgba(20,112,147,1);
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 0 21px -5px rgba(0, 0, 0, 0.5);
    background: white;
    margin-bottom: 5em;
    padding-bottom: 20px;
}

.user-profile-left-container {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 30px;
    margin-right: 3%;

}

.user-profile-left-container img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 3px solid rgba(70,171,158,1);
}

.user-profile-right-container {
    padding-left: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 20px;
    margin-left: 3%;
}

.user-profile-right-container h5 {
    margin-bottom: 30px;
}

#profile-view-hr {
    border-top: 1px solid rgba(70,171,158,1);
    margin-top: 20px;
    width: 90%;
    margin-bottom: 20px;
}

/* Message Board */

.user-profile-messages-container {
    width: 100%;
}

.user-reviews-title-name-container {
    display: inline-block;
    width: 70%;
    text-align: left;
    padding-left: 60px;
    margin-top: 0;
}

#message-board-title {
    font-size: 30px;
}

.user-reviews-title-button-container {
    display: inline-block;
    width: 30%;
    text-align: right;
    padding-right: 60px;
    padding-bottom: 20px;
    margin-top: 0;

}

#create-review-button {
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 12px;
    padding-top: 2px;
    font-weight: 600;
    font-size: 15px;
}

#create-review-button:hover {
    text-decoration: underline;
}

#profile-contact-icon {
    display: inline;
    padding-top: 0px;

}

#profile-contact-icon-text {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    padding-top: 4px;
}

#profile-contact-icon-text h5 {
    margin-bottom: 0;
    margin-top: 0;
}

#contact-link {
    margin-bottom: 25px;
}

.no-user-reviews-text-line-one {
    color: rgb(116, 116, 116);
    font-size: 20px;
}

.no-user-reviews-text-line-two {
    color: rgb(116, 116, 116);
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.review-item {
    text-align: left;
    margin-bottom: 40px;
    width: 90%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-top: 1px solid rgb(135, 135, 135);
}

.review-item-top-left-content {
    display: inline-block;
    width: 60%;
}

.review-item-top-left-content h5{
    font-size: 24px;
    margin-bottom: 0;
}

.review-item-top-right-content {
    display: inline-block;
    width: 40%;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 0px;
}

.review-item-bottom-content h5 {
    font-size: 20px;
}

.review-item-bottom-left-content {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.review-item-bottom-right-content {
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: top;
}